{% extends 'base.html' %}
{% load static %}
{% block titulo %}Roteiros Temáticos | Destino Roraima{% endblock %}
{% block css_pagina %}
    <link rel="stylesheet" href="{% static 'gerenciamento_destino/css/destino_shared.css' %}">
    <link rel="stylesheet" href="{% static 'gerenciamento_destino/css/roteiros.css' %}">
{% endblock %}
{% block conteudo %}
<div class="container-conteudo">
    {% include 'gerenciamento_destino/html/partials/breadcrumb.html' %}
    <div class="painel-roteiros">
        <header class="roteiros-cabecalho">
            <h1>Roteiros Temáticos</h1>
        </header>
        {% if roteiros %}
            <div class="roteiros-grid">
                {% for roteiro in roteiros %}
                    <a href="{% url 'destino:detalhe_roteiro' roteiro.slug %}" class="roteiro-card">
                        <div class="roteiro-card-imagem">
                            <img src="{{ roteiro.imagem_capa.url }}" alt="Imagem para o roteiro {{ roteiro.titulo }}">
                        </div>
                        <div class="roteiro-card-conteudo">
                            <h3>{{ roteiro.titulo }}</h3>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p style="text-align: center; color: #E4F8FF; padding: 40px 0;">Ainda não há roteiros temáticos cadastrados.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block parceiros %}{% endblock parceiros %}