{% extends 'base.html' %}
{% load static %}

{% block titulo %}{{ categoria_nome }} | {{ modulo_display }}{% endblock %}

{% block css_pagina %}
    <link rel="stylesheet" href="{% static 'gerenciamento_artigos/css/artigos.css' %}">
{% endblock %}

{% block conteudo %}
<div class="container-conteudo">
    {% include 'gerenciamento_artigos/html/partials/breadcrumbs.html' %}
    <div class="painel-listagem-artigos">
        <div class="painel-cabecalho">
            <a href="{% url url_voltar %}" class="botao-voltar-branco">
                <img src="{% static 'gerenciamento_inteligencia_mercado/icons/icone-voltar.svg' %}" alt="icone de seta">
                <span>Voltar</span>
            </a>
            <h1 class="titulo-pagina-artigos">{{ categoria_nome }}</h1>
        </div>
        <hr class="separador-titulo">

        {% if artigos %}
            <div class="container-cards-artigos">
                {% for artigo in artigos %}
                <a href="{% url 'artigos:detalhe_artigo' artigo.slug %}" class="artigo-card">
                    <div class="card-imagem-container">
                        <img src="{{ artigo.imagem_card.url }}" alt="Imagem para {{ artigo.titulo }}">
                    </div>
                    <div class="card-conteudo-container">
                        <h3>{{ artigo.titulo }}</h3>
                        {% if artigo.subtitulo %}
                        <p>{{ artigo.subtitulo }}</p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        {% else %}
            <p class="sem-conteudo" style="text-align: center; padding: 40px 0; font-size: 1.2rem;">Ainda não há publicações nesta categoria.</p>
        {% endif %}
    </div>
</div>
{% endblock %}