{% extends 'base.html' %}
{% load static %}
{% block titulo %}Notícias com a tag "{{ tag.name }}" | Roraima Trade Hub{% endblock %}
{% block css_pagina %}
<link rel="stylesheet" href="{% static 'gerenciamento_noticias/css/noticias.css' %}">
{% endblock %}
{% block conteudo %}
<div class="container-conteudo">
    <nav class="breadcrumb-container" aria-label="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="{% url 'gerenciamento_home:home' %}" class="breadcrumb-link">Início</a></li>
            <li class="breadcrumb-item"><a href="{% url 'noticias:lista_noticias' %}" class="breadcrumb-link">Notícias</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tag: {{ tag.name }}</li>
        </ol>
    </nav>
    <div class="listagem-cabecalho-container">
        <h1>Notícias com a tag: <strong>{{ tag.name }}</strong></h1>
    </div>
    <div class="noticias-grid">
        {% include 'gerenciamento_noticias/html/partials/noticia_card.html' with noticias=noticias %}
    </div>
</div>
{% endblock %}