{% extends 'gerenciamento_registros/html/_base_registro.html' %}
{% block titulo %}Registro de Aprendiz{% endblock %}
{% block titulo_formulario %}
    Inscreva-se na Plataforma Aprenda Comex
{% endblock %}
{% block campos_extras %}
    <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}">Nome Completo</label>
        {{ form.first_name }}
        <div class="erro-campo">{{ form.first_name.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.cpf.id_for_label }}">CPF</label>
        {{ form.cpf }}
        <div class="erro-campo">{{ form.cpf.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.data_nascimento.id_for_label }}">Data de Nascimento</label>
        {{ form.data_nascimento }}
        <div class="erro-campo">{{ form.data_nascimento.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.residencia.id_for_label }}">Estado/País de Residência</label>
        {{ form.residencia }}
        <div class="erro-campo">{{ form.residencia.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.nivel_conhecimento_comex.id_for_label }}">Nível de conhecimento em Comércio Exterior</label>
        {{ form.nivel_conhecimento_comex }}
        <div class="erro-campo">{{ form.nivel_conhecimento_comex.errors }}</div>
    </div>
{% endblock %}