{% extends 'base.html' %}
{% load static %}
{% block titulo %}Link Enviado{% endblock %}
{% block css_pagina %}<link rel="stylesheet" href="{% static 'gerenciamento_vender/css/autenticacao.css' %}">{% endblock %}
{% block header %}{% endblock %}
{% block conteudo %}
<div class="container-formulario">
    <div class="painel-formulario">
        <h1 class="titulo-pagina">📬 Verifique seu E-mail</h1>
        <p style="color: #E4F8FF; font-size: 1.1rem; line-height: 1.6;">
            Enviamos um e-mail com as instruções e um link para você criar uma nova senha.
            <br><br>
            Se você não receber o e-mail em alguns minutos, verifique sua caixa de spam.
        </p>
    </div>
</div>
{% endblock %}