{% extends 'base.html' %}
{% load static %}
{% block titulo %}Recuperar Senha{% endblock %}
{% block css_pagina %}<link rel="stylesheet" href="{% static 'gerenciamento_vender/css/autenticacao.css' %}">{% endblock %}
{% block header %}{% endblock %}
{% block conteudo %}
<div class="container-formulario">
    <div class="painel-formulario">
        <h1 class="titulo-pagina">Recuperar Senha</h1>
        <p style="color: #c0e0eb; margin-top: -20px; margin-bottom: 25px;">
            Digite seu e-mail abaixo e enviaremos um link para você criar uma nova senha.
        </p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="form-label">Seu E-mail de Cadastro</label>
                <input type="email" name="email" class="form-input" required id="id_email">
                {{ form.email.errors }}
            </div>
            <button type="submit" class="botao-acao">Enviar Link de Recuperação</button>
        </form>
    </div>
</div>
{% endblock %}
{% block parceiros %}{% endblock %}{% block footer %}{% endblock %}