{% extends 'base.html' %}
{% load static %}
{% block titulo %}Crie sua Nova Senha{% endblock %}
{% block css_pagina %}<link rel="stylesheet" href="{% static 'gerenciamento_vender/css/autenticacao.css' %}">{% endblock %}
{% block header %}{% endblock %}
{% block conteudo %}
<div class="container-formulario">
    <div class="painel-formulario">
        {% if validlink %}
            <h1 class="titulo-pagina">Crie sua Nova Senha</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nova Senha</label>
                    {{ form.new_password1.errors }}
                    <input type="password" name="new_password1" class="form-input" required id="id_new_password1">
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirme a Nova Senha</label>
                    {{ form.new_password2.errors }}
                    <input type="password" name="new_password2" class="form-input" required id="id_new_password2">
                </div>
                <button type="submit" class="botao-acao">Alterar Senha</button>
            </form>
        {% else %}
            <h1 class="titulo-pagina">❌ Link Inválido</h1>
            <p style="color: #E4F8FF; font-size: 1.1rem;">O link para recuperação de senha é inválido, possivelmente porque já foi utilizado.</p>
        {% endif %}
    </div>
</div>
{% endblock %}