{% extends 'base.html' %}
{% load static %}
{% block titulo %}Senha Alterada{% endblock %}
{% block css_pagina %}<link rel="stylesheet" href="{% static 'gerenciamento_vender/css/autenticacao.css' %}">{% endblock %}
{% block header %}{% endblock %}
{% block conteudo %}
<div class="container-formulario">
    <div class="painel-formulario">
        <h1 class="titulo-pagina">Senha Alterada!</h1>
        <p style="color: #E4F8FF; font-size: 1.1rem;">Sua senha foi alterada com sucesso. Agora você já pode fazer login com sua nova senha.</p>
        <a href="{% url 'vender:login' %}" class="botao-acao" style="margin-top: 30px;">Fazer Login</a>
    </div>
</div>
{% endblock %}