{% extends 'base.html' %}
{% load static %}
{% block titulo %} Inteligência de Mercado | Roraima Trade Hub{% endblock %}
{% block css_pagina %}
    <link rel="stylesheet" href="{% static 'gerenciamento_inteligencia_mercado/css/layout_inteligencia.css' %}">
    <link rel="stylesheet" href="{% static 'gerenciamento_inteligencia_mercado/css/pagina_inicial.css' %}">
{% endblock %}
{% block conteudo %}
<div class="container-conteudo layout-inteligencia">
    <div class="coluna-principal">
        <div class="painel-conteudo">
            <h1 class="titulo-pagina">Inteligência de Mercado</h1>
            <hr>
            <div class="conteudo-dividido">
                <div class="texto-apresentacao">
                    <h2>Explore os indicadores de desenvolvimento e conheça as potencialidades que Roraima oferece</h2>
                </div>
                <div class="grafico-apresentacao">
                    {% if grafico_principal %}
                        <div id="grafico-apresentacao-container" 
                             style="width: 100%; height: 100%;" 
                             data-earth-texture-url="{% static 'gerenciamento_inteligencia_mercado/textures/earth.jpg' %}">
                        </div>
                    {% else %}
                        <p>Nenhum gráfico principal foi configurado no painel de administração.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <aside class="coluna-lateral">
        <nav class="navegacao-inteligencia">
            <a href="{% url 'inteligencia:lista_por_categoria' 'DADOS_ESTRUTURAIS' %}" class="nav-card-inteligencia card-dados">
                <img src="{% static 'gerenciamento_inteligencia_mercado/icons/icone-dados-estruturais.svg' %}" alt="">
                <span>Dados Estruturais</span>
            </a>
            <a href="{% url 'inteligencia:lista_por_categoria' 'ANALISES_E_ARTIGOS' %}" class="nav-card-inteligencia card-analises">
                <img src="{% static 'gerenciamento_inteligencia_mercado/icons/icone-analises-e-artigos.svg'%}" alt="">
                <span>Análises</span> </a>
            <a href="{% url 'inteligencia:glossario' %}" class="nav-card-inteligencia card-glossario">
                <img src="{% static 'gerenciamento_inteligencia_mercado/icons/icone-glossario.svg' %}" alt="">
                <span>Glossário</span> </a>
        </nav>
    </aside>
</div>
{% endblock %}
{% block js_pagina %}
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
    {% if grafico_principal %}
        {% if grafico_principal.tipo_grafico == 'SCRIPT_COMPLETO' %}
            <script type="text/javascript">
                {{ grafico_principal.codigo_js_echarts|safe }}
            </script>
        {% endif %}
    {% endif %}
{% endblock %}