{% extends 'base.html' %}
{% load static %}
{% block titulo %}Digite sua Nova Senha{% endblock %}
{% block css_pagina %}<link rel="stylesheet" href="{% static 'gerenciamento_registros/css/formularios_autenticacao.css' %}">{% endblock %}
{% block conteudo %}
<div class="container-formulario">
    <div class="painel-formulario">
        <h1 class="titulo-pagina">Crie uma Nova Senha</h1>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">Nova senha</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">Confirme a nova senha</label>
                    {{ form.new_password2 }}
                </div>
                <button type="submit" class="botao-acao">Salvar Nova Senha</button>
            </form>
        {% else %}
            <p class="erro-geral">O link para redefinição de senha é inválido, possivelmente porque já foi utilizado. Por favor, solicite uma nova redefinição.</p>
        {% endif %}
    </div>
</div>
{% endblock %}