{% extends 'gerenciamento_registros/html/_base_registro.html' %}
{% load static %}
{% block titulo %}Registro de Aprendiz | Roraima Trade Hub{% endblock %}
{% block titulo_formulario %}Crie seu Perfil Educacional{% endblock %}
{% block campos_formulario %}
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Nome de usuário</label>
        {{ form.username }}
        <div class="erro-campo">{{ form.username.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}">Nome Completo</label>
        {{ form.first_name }}
        <div class="erro-campo">{{ form.first_name.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">E-mail</label>
        {{ form.email }}
        <div class="erro-campo" id="email-error">{{ form.email.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.email2.id_for_label }}">Confirme seu e-mail</label>
        {{ form.email2 }}
        <div class="erro-campo" id="email2-error"></div>
    </div>
    <div class="form-group">
        <label for="{{ form.cpf.id_for_label }}">CPF</label>
        {{ form.cpf }}
        <div class="erro-campo">{{ form.cpf.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.data_nascimento.id_for_label }}">Data de Nascimento</label>
        {{ form.data_nascimento }}
        <div class="erro-campo">{{ form.data_nascimento.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.residencia.id_for_label }}">Estado/País de Residência</label>
        {{ form.residencia }}
        <div class="erro-campo">{{ form.residencia.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.nivel_conhecimento_comex.id_for_label }}">Nível de conhecimento em Comércio Exterior</label>
        {{ form.nivel_conhecimento_comex }}
        <div class="erro-campo">{{ form.nivel_conhecimento_comex.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Senha</label>
        {{ form.password1 }}
        <div class="erro-campo">{{ form.password1.errors }}</div>
        <div id="password-feedback">
            <div class="validation-rules"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Confirme sua senha</label>
        {{ form.password2 }}
        <div class="erro-campo" id="password2-error"></div>
    </div>
{% endblock %}
{% block js_pagina %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="{% static 'gerenciamento_registros/js/registro.js' %}"></script>
{% endblock %}