{% extends 'base.html' %}
{% load static %}
{% block titulo %}Reenviar E-mail de Ativação{% endblock %}
{% block css_pagina %}<link rel="stylesheet" href="{% static 'gerenciamento_registros/css/formularios_autenticacao.css' %}">{% endblock %}

{% block conteudo %}
<div class="container-formulario">
    <div class="painel-formulario">
        <h1 class="titulo-pagina">Reenviar E-mail de Ativação</h1>
        <p style="color: #c0e0eb; margin-top: -15px; margin-bottom: 25px;">Não recebeu nosso e-mail? Digite-o abaixo e enviaremos um novo link.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">E-mail</label>
                {{ form.email }}
            </div>
            <button type="submit" class="botao-acao">Enviar Novo Link</button>
        </form>
    </div>
</div>
{% endblock %}